In [16]:

import numpy as np
import pandas as pd

np.random.seed(10)
df=pd.DataFrame({
    'A':np.random.randn(10),
    'B':np.random.randn(10),
    'C':np.random.randn(10)
})
print(df)

          A         B         C
0  1.331587  0.433026 -1.977728
1  0.715279  1.203037 -1.743372
2 -1.545400 -0.965066  0.266070
3 -0.008384  1.028274  2.384967
4  0.621336  0.228630  1.123691
5 -0.720086  0.445138  1.672622
6  0.265512 -1.136602  0.099149
7  0.108549  0.135137  1.397996
8  0.004291  1.484537 -0.271248
9 -0.174600 -1.079805  0.613204

In [20]:
df.describe()

               A          B          C
count  10.000000  10.000000  10.000000
mean    0.059808   0.177631   0.356535
std     0.792652   0.956751   1.410776
min    -1.545400  -1.136602  -1.977728
25%    -0.133046  -0.690015  -0.178649
50%     0.056420   0.330828   0.439637
75%     0.532380   0.882490   1.329420
max     1.331587   1.484537   2.384967

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10 non-null     float64
 1   B       10 non-null     float64
 2   C       10 non-null     float64
dtypes: float64(3)
memory usage: 368.0 bytes

In [21]:
#Creating Lamda
add = lambda x, y: x + y
print(add(5, 3))  
# Output: 8

8

In [22]:
df['A'].map(lambda x:x*2)

0    2.663173
1    1.430558
2   -3.090801
3   -0.016768
4    1.242672
5   -1.440171
6    0.531023
7    0.217097
8    0.008583
9   -0.349200
Name: A, dtype: float64

In [24]:
#create another column that checks if a ctaegory is positive or negative for columnA
df['Category']=df['A'].map(lambda x:"positive" if x >0 else "Negative") 
#To replace values or assignn values
df

          A         B         C  Category
0  1.331587  0.433026 -1.977728  positive
1  0.715279  1.203037 -1.743372  positive
2 -1.545400 -0.965066  0.266070  Negative
3 -0.008384  1.028274  2.384967  Negative
4  0.621336  0.228630  1.123691  positive
5 -0.720086  0.445138  1.672622  Negative
6  0.265512 -1.136602  0.099149  positive
7  0.108549  0.135137  1.397996  positive
8  0.004291  1.484537 -0.271248  positive
9 -0.174600 -1.079805  0.613204  Negative

In [26]:
#.apply methiod
df['A']=df['A'].apply(lambda x : x+10)
df

           A         B         C  Category
0  21.331587  0.433026 -1.977728  positive
1  20.715279  1.203037 -1.743372  positive
2  18.454600 -0.965066  0.266070  Negative
3  19.991616  1.028274  2.384967  Negative
4  20.621336  0.228630  1.123691  positive
5  19.279914  0.445138  1.672622  Negative
6  20.265512 -1.136602  0.099149  positive
7  20.108549  0.135137  1.397996  positive
8  20.004291  1.484537 -0.271248  positive
9  19.825400 -1.079805  0.613204  Negative

In [27]:
df['A']=df['A'].apply(lambda x : x+10)
df['B']=df['B'].apply(lambda x : x+10)
df['C']=df['C'].apply(lambda x : x+10)
df

           A          B          C  Category
0  31.331587  10.433026   8.022272  positive
1  30.715279  11.203037   8.256628  positive
2  28.454600   9.034934  10.266070  Negative
3  29.991616  11.028274  12.384967  Negative
4  30.621336  10.228630  11.123691  positive
5  29.279914  10.445138  11.672622  Negative
6  30.265512   8.863398  10.099149  positive
7  30.108549  10.135137  11.397996  positive
8  30.004291  11.484537   9.728752  positive
9  29.825400   8.920195  10.613204  Negative

In [54]:
#To permanently drop a colum
#df.drop(['Category'], axis=1, inplace=True)
result= df.apply(sum, axis=0)
#axis is used to pass a function = 0 is for colum =1 is for rows
print (result)

A     10.000000
B    101.776306
C    103.565352
dtype: float64

In [38]:
df.apply(sum, axis =0)
df

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
df.iloc[5]

A     1.000000
B    10.445138
C    11.672622
Name: 5, dtype: float64